Source: goenvtemplator
Maintainer: https://github.com/seznam/goenvtemplator
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), golang (>= 2:1.5), git

Package: goenvtemplator
Architecture: amd64
Description: Tool to template configuration files by environment variables.
 goenvtemplator is a simple app, that can template your config files by
 environment variables and optionally replace itself (by exec syscall)
 with the application binary. So at the end your application runs directly
 under the process that run this tool like docker as if it was originally
 the entrypoint itself.
